Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Add comment about keep-test all type
  infrastructure/kube/keep-test/keep-maintainer/kustomization.yaml
Due: lint-config

Added printing of deposit type
  cmd/maintainercli.go
  pkg/bitcoin/script.go
  pkg/maintainer/wallet/deposit_sweep.go
Due: none

Adjusted unit tests
  pkg/bitcoin/script.go
  pkg/maintainer/wallet/deposit_sweep_test.go
  pkg/maintainer/wallet/internal/test/marshaling.go
  pkg/maintainer/wallet/internal/test/testdata/find_deposits_scenario_0.json
  pkg/maintainer/wallet/internal/test/testdata/find_deposits_scenario_1.json
  pkg/maintainer/wallet/internal/test/testdata/find_deposits_scenario_2.json
  pkg/maintainer/wallet/internal/test/testdata/find_deposits_scenario_3.json
  pkg/maintainer/wallet/internal/test/wallettest.go
Due: lint-config

Use `keepnetwork/keep-client:v2.0.0-m4` for `keep-maintainer` on production
  infrastructure/kube/keep-prd/keep-maintainer/kustomization.yaml
Due: lint-config

Moved setting unmarshaller for announcement message to separate function
  pkg/protocol/announcer/announcer.go
  pkg/tbtc/dkg.go
  pkg/tbtc/node.go
Due: none

Moved setting unmarshaller for signing done message to separate function
  pkg/protocol/announcer/announcer.go
  pkg/tbtc/node.go
  pkg/tbtc/signing_done.go
Due: none

Updated unit tests
  pkg/protocol/announcer/announcer_test.go
Due: none

Wrapping request client calls with a read/write mutex
  pkg/bitcoin/electrum/electrum.go
Due: none

Moved setting unmarshaller just after the channel creation
  pkg/tbtc/dkg.go
Due: none

Updated signing done check related unit tests
  pkg/tbtc/signing_done_test.go
Due: none

Replacing fulcrum tcp url
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Replacing PublicKeyHash and btc txs
  internal/testdata/bitcoin/transaction.go
Due: none

Fix for failing unit tests
  pkg/tbtc/node.go
Due: none

Adding an integration test that hits SubscribeHeaders() concurrently
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Picking a different wallet address which hasn't recorded any tx recently
  internal/testdata/bitcoin/transaction.go
Due: none

Updated keep-test public grafana dashboard
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes-public.json
Due: lint-config

Updated keep-test non-public grafana dashboard
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes.json
Due: lint-config

Updated test public grafana to display BTC connectivity as boolean
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes-public.json
Due: lint-config

Updated test public grafana to display ETH connectivity
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes-public.json
Due: lint-config

Updated test non-public grafana to display ETH connectivity
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes.json
Due: lint-config

Support deployment on Sepolia
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
  solidity/ecdsa/deploy/09_deploy_wallet_registry_governance.ts
  solidity/ecdsa/hardhat.config.ts
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint

Updated value mapping for non-public test Grafana dashboard
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes.json
Due: lint-config

Updated value mapping for public test Grafana dashboard
  infrastructure/kube/keep-test/monitoring/grafana/dashboards/keep/keep-network-nodes-public.json
Due: lint-config

Adding BTC and ETH connectivity panels to Grafana prd dashboard
  infrastructure/kube/keep-prd/monitoring/grafana/dashboards/keep/keep-nodes-public.json
  infrastructure/kube/keep-prd/monitoring/grafana/dashboards/keep/keep-nodes.json
Due: lint-config

Test commit
  pkg/bitcoin/electrum/electrum.go
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Increasing timeout to 30min
  .github/workflows/client.yml
Due: none

Reverting timeout back to 20min
  .github/workflows/client.yml
Due: none

Bumping up signing attempts limit to 5 to give more time for computation
  pkg/tbtc/signing_test.go
Due: none

Support deployment on Sepolia
  solidity-v1/migrations/2_deploy_contracts.js
  solidity-v1/truffle-config.js
Due: lint-eslint, lint-js-v1

Increasing signing attempts to perform all signing computations
  pkg/tbtc/signing_test.go
Due: none

Increase maintainer's redemption request amount limit to 15 BTC
  infrastructure/kube/keep-prd/keep-maintainer/kustomization.yaml
  infrastructure/kube/keep-test/keep-maintainer/kustomization.yaml
  infrastructure/kube/templates/keep-maintainer/maintainer-statefulset.yaml
Due: lint-config

Remove TODO about removing mainnet flag
  cmd/flags.go
Due: none

Changing RWMutex to Mutex since we no longer use Read mutex
  pkg/bitcoin/electrum/electrum.go
Due: none

Commenting the integration tests
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Removing a TODO comments because the issue was resolved
  pkg/bitcoin/electrum/electrum.go
Due: none

Adding logger around electrum client calls
  pkg/bitcoin/electrum/electrum.go
Due: none

Revert "Adding logger around electrum client calls"
  pkg/bitcoin/electrum/electrum.go
Due: none

Use `threshold-network/tss-lib` fork
  go.mod
  go.sum
Due: none

Make `environment` input required
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
