Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-js:
  name: lint solidity js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Rename BLS-related test files
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BLS.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
Due: none

Add some unchecked
  contracts/MerkleDrop128.sol
Due: lint-sol

Adding typechain dev dependency, configuring it in tsconfig.json
  solidity/random-beacon/package.json
  solidity/random-beacon/tsconfig.json
  solidity/random-beacon/yarn.lock
Due: none

Improve content for Modal with Overview
  solidity-v1/dashboard/src/__tests__/utils/coverage-pools.utils.test.js
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
  solidity-v1/dashboard/src/components/coverage-pools/PendingWithdrawals.jsx
  solidity-v1/dashboard/src/components/coverage-pools/ReinitiateWithdrawalModal.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/increase-withdrawal-modal.less
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/utils/coverage-pools.utils.js
Due: lint-js, format-dashboard

Removed unused TestToken with its tests and deploy script
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/deploy/00_deploy_test_token.ts
  solidity/random-beacon/test/TestToken.test.ts
Due: lint-sol

Remove unused props
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
Due: format-dashboard

Port Mickle changes
  contracts/MerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
  package.json
  src/gen_qr_drop.js
  yarn.lock
Due: lint-sol

Set proper values for success modal
  solidity-v1/dashboard/src/components/coverage-pools/IncreaseWithdrawalModal.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
Due: lint-js, format-dashboard

Fix lint
  src/gen_qr_drop.js
Due: none

0.8.9
  contracts/CumulativeMerkleDrop.sol
  contracts/CumulativeMerkleDrop128.sol
  contracts/MerkleDrop128.sol
  contracts/interfaces/ICumulativeMerkleDrop.sol
  contracts/interfaces/ICumulativeMerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
  hardhat.config.js
  package.json
  test/mocks/TokenMock.sol
  yarn.lock
Due: lint-sol

Add @typechain/hardhat import in hardhat config
  solidity/random-beacon/hardhat.config.ts
Due: none

refactor tests
  test/MerkleDrop128.test.js
Due: none

drop2
  src/gen_drop.js
  src/parse.py
Due: none

deps
  package.json
  yarn.lock
Due: none

Consistent formatting of Solidity docs
  solidity/random-beacon/contracts/libraries/AltBn128.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/ModUtils.sol
  solidity/random-beacon/contracts/test/TestAltBn128.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
Due: lint-sol

simplify invalidation
  contracts/MerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
Due: lint-sol

recover account from signature
  contracts/MerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
  test/MerkleDrop128.test.js
Due: lint-sol

Make index make more sense
  contracts/MerkleDrop128.sol
Due: lint-sol

Add indexing test
  test/MerkleDrop128.test.js
Due: none

Add @typechain/hardhat
  .gitignore
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/tsconfig.json
  solidity/random-beacon/yarn.lock
Due: none

Remove examples
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/test/TestToken.test.ts
Due: lint-sol

remove event
  contracts/MerkleDrop128.sol
  contracts/interfaces/IMerkleDrop128.sol
Due: lint-sol

simplify extra depth shift
  contracts/MerkleDrop128.sol
Due: lint-sol

Use "it should" test format for AltBn128 tests
  solidity/random-beacon/test/AltBn128.test.ts
Due: none

Update reference to @keep-network/hardhat-helpers package
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/yarn.lock
Due: none

add verify to interface
  contracts/interfaces/IMerkleDrop128.sol
Due: lint-sol

Adding back linters for solidity-v1
  .pre-commit-config.yaml
Due: none

Keep fixtures and BLS data next to tests
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BLS.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/_blsdata.ts
  solidity/random-beacon/test/_fixtures.ts
Due: none

Load test data from fixtures
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: none

Move fixtures out of helpers directory
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: none

minor optimisation
  contracts/MerkleDrop128.sol
Due: lint-sol

Adding eslint rule import/no-extraneous-dependencies
  solidity/random-beacon/.eslintrc
  solidity/random-beacon/package.json
Due: none

Add BytesLib utils library
  solidity/random-beacon/contracts/utils/BytesLib.sol
Due: lint-sol

Disable client workflows for solidity directory
  .github/workflows/client.yml
Due: none

Specifying files extention to run in pre-commit
  .pre-commit-config.yaml
Due: none

Updating yarn.lock
  solidity/random-beacon/yarn.lock
Due: none

Reorganized directory structure for fixtures and test data
  solidity/random-beacon/test/AltBn128.test.ts
  solidity/random-beacon/test/BLS.test.ts
  solidity/random-beacon/test/ModUtils.test.ts
  solidity/random-beacon/test/data/bls.ts
  solidity/random-beacon/test/fixtures/index.ts
Due: none

Test functions of TestModUtils and TestAltBn128 marked as views
  solidity/random-beacon/contracts/test/TestAltBn128.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
Due: lint-sol

Restricted test function from TestAltBn128 to pure
  solidity/random-beacon/contracts/test/TestAltBn128.sol
Due: lint-sol

BytesLib moved to libraries directory
  solidity/random-beacon/contracts/libraries/BytesLib.sol
Due: lint-sol

Path conditions:
  lint-sol: any of: \.sol$
  lint-js: any of: solidity-v1\/.*\.js$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
