Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 466ade9296d8445d520ec7ab246a30cfa8a07b71
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-fmt
    - id: staticcheck
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: '\.(ts|js)$'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: '\.(json|yaml)$'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: 'solidity-v1\/.*\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

go mod tidy
  go.mod
  go.sum
Due: none

Added methods for checking authorization and retargetting with refund
  pkg/chain/ethereum/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/chain.go
  pkg/maintainer/chain_test.go
Due: none

Create a `Legacy dashboard` modal
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/components/Icons.jsx
  solidity-v1/dashboard/src/components/modal/LegacyDashboardModal.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/static/svg/legacy-dapp-modal.svg
Due: lint-eslint, lint-js-v1, format-dashboard

Add legacy badge to the side menu
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/css/vars.less
Due: lint-eslint, lint-js-v1, format-dashboard

Remove unnecessary border in footer
  solidity-v1/dashboard/src/css/app.less
Due: format-dashboard

Temporarily exclude `LightRelayMaintainerProxy` from binding generation process
  pkg/chain/ethereum/tbtc/gen/Makefile
Due: none

Test
  pkg/chain/ethereum/tbtc.go
  test/config.yaml
Due: lint-config

Remove tBTC token migration portal
  solidity-v1/dashboard/src/__tests__/saga/tbtc-migration.test.js
  solidity-v1/dashboard/src/actions/index.js
  solidity-v1/dashboard/src/actions/tbtc-migration.js
  solidity-v1/dashboard/src/components/Routing.jsx
  solidity-v1/dashboard/src/components/SideMenu.jsx
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/tbtc-migration/ConfirmMigration.jsx
  solidity-v1/dashboard/src/components/modal/tbtc-migration/MigrationCompleted.jsx
  solidity-v1/dashboard/src/components/modal/tbtc-migration/index.js
  solidity-v1/dashboard/src/components/tbtc-migration/MigrationPortalForm.jsx
  solidity-v1/dashboard/src/components/tbtc-migration/index.js
  solidity-v1/dashboard/src/components/tbtc-migration/styles.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/tbtc-migration-page.less
  solidity-v1/dashboard/src/pages/tbtc-migration/HowItWorksPage.jsx
  solidity-v1/dashboard/src/pages/tbtc-migration/TokenUpgradePortalPage.jsx
  solidity-v1/dashboard/src/pages/tbtc-migration/index.js
  solidity-v1/dashboard/src/reducers/index.js
  solidity-v1/dashboard/src/reducers/tbtc-migration.js
  solidity-v1/dashboard/src/sagas/index.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/sagas/tbtc-migration.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add CLI command to list tBTC deposits
  cmd/cmd.go
  cmd/wallet.go
  cmd/wallet/deposits.go
  cmd/wallet/walletcmd.go
Due: none

Add missing `BitcoinElectrum` flag category for `start` command
  config/category.go
Due: none

Remove Liquidity page
  solidity-v1/dashboard/src/__tests__/saga/rootSaga.test.js
  solidity-v1/dashboard/src/components/ExternalPoolLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/InactiveButExternalLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/InactiveLiquidityRewardCard.jsx
  solidity-v1/dashboard/src/components/Routing.jsx
  solidity-v1/dashboard/src/components/SideMenu.jsx
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/css/app.less
  solidity-v1/dashboard/src/css/liquidity-page.less
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/pages/liquidity/index.js
  solidity-v1/dashboard/src/reducers/index.js
  solidity-v1/dashboard/src/sagas/index.js
  solidity-v1/dashboard/src/sagas/liquidity-rewards.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
  solidity-v1/dashboard/src/sagas/utils.js
  solidity-v1/dashboard/src/services/liquidity-rewards.js
  solidity-v1/dashboard/src/services/uniswap-api.js
Due: lint-eslint, lint-js-v1, format-dashboard

Remove possibility to deposit in a coverage pools
  solidity-v1/dashboard/src/actions/coverage-pool.js
  solidity-v1/dashboard/src/components/modal/ModalRoot.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/InitiateDeposit.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/WarningBeforeDeposit.jsx
  solidity-v1/dashboard/src/components/modal/coverage-pools/deposit/index.js
  solidity-v1/dashboard/src/components/modal/coverage-pools/index.js
  solidity-v1/dashboard/src/constants/constants.js
  solidity-v1/dashboard/src/constants/events.js
  solidity-v1/dashboard/src/css/coverage-pools-page.less
  solidity-v1/dashboard/src/pages/coverage-pools/CoveragePoolPage.jsx
  solidity-v1/dashboard/src/sagas/coverage-pool.js
  solidity-v1/dashboard/src/sagas/subscriptions.js
Due: lint-eslint, lint-js-v1, format-dashboard

Added flag for disabling Bitcoin difficulty proxy
  cmd/flags.go
  cmd/flags_test.go
  config/config_test.go
  pkg/chain/ethereum/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty_test.go
  pkg/maintainer/config.go
  pkg/maintainer/maintainer.go
  test/config.json
  test/config.toml
  test/config.yaml
Due: lint-config

Handle w.Flush() error
  cmd/wallet/deposits.go
Due: none

Set correct margin in `LegacyDashboard` modal
  solidity-v1/dashboard/src/components/modal/LegacyDashboardModal.jsx
Due: format-dashboard

Added more tests for verifying block header submission eligibility
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty_test.go
  pkg/maintainer/chain_test.go
Due: none

Fix for failing tests
  pkg/maintainer/bitcoin_difficulty_test.go
Due: none

Update destination branch input's name
  .github/workflows/contracts-ecdsa-docs.yml
  .github/workflows/contracts-random-beacon-docs.yml
Due: none

Make prometheus internally exposed on keep-test
  infrastructure/kube/keep-test/monitoring/monitoring-ingress.yaml
Due: lint-config

Open a Legacy Dapp modal only once
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/components/modal/LegacyDashboardModal.jsx
  solidity-v1/dashboard/src/hooks/useLocalStorage.js
  solidity-v1/dashboard/src/hooks/useShowLegacyDappModal.js
Due: lint-eslint, lint-config, lint-js-v1, format-dashboard

Fix linting errors
  solidity-v1/dashboard/src/__tests__/saga/rootSaga.test.js
  solidity-v1/dashboard/src/sagas/index.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add commit hash to ignore refs file
  .git-blame-ignore-revs
Due: none

Unit tests for heartbeat client action
  pkg/internal/testutils/testutils.go
  pkg/tbtc/heartbeat.go
  pkg/tbtc/heartbeat_test.go
Due: none

Renerated client start help docs resource
  docs/resources/client-start-help
Due: none

Added TODO to heartbeat action to ignore request if unstaking
  pkg/tbtc/heartbeat.go
Due: none

Added more tests for proving next epoch
  pkg/maintainer/bitcoin_difficulty_test.go
  pkg/maintainer/chain_test.go
Due: none

Use the parent logger passed to deposit sweep action
  pkg/tbtc/deposit_sweep.go
  pkg/tbtc/deposit_sweep_test.go
Due: none

Connect `keep-test` clients to testnet ElectrumX instance
  infrastructure/kube/keep-test/keep-client/gen/template.yaml
  infrastructure/kube/keep-test/keep-client/keep-client-config.yaml
  infrastructure/kube/keep-test/keep-client/keep-clients.yaml
Due: lint-config

Expose ValidateDepositSweepProposal function
  pkg/tbtc/deposit_sweep.go
Due: none

Refactored integration test
  pkg/maintainer/bitcoin_difficulty_test.go
Due: none

Minor improvements
  pkg/maintainer/bitcoin_difficulty.go
Due: none

Add SubmitDepositSweepProposal function to tbtc chain
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
Due: none

Add CLI command to submit a deposit sweep proposal
  cmd/wallet.go
  cmd/wallet/sweep.go
Due: none

Add SubmitDepositSweepProposal to local chain
  pkg/tbtc/chain_test.go
Due: none

Define wallet flags as subcommand flags
  cmd/wallet.go
Due: none

Add --dry-run flag to sweep command
  cmd/wallet.go
  cmd/wallet/sweep.go
Due: none

Leverage deposits reveal blocks passed within the sweep proposal
  pkg/chain/ethereum/tbtc.go
  pkg/chain/ethereum/tbtc/gen/abi/WalletCoordinator.go
  pkg/tbtc/chain.go
  pkg/tbtc/deposit_sweep.go
  pkg/tbtc/deposit_sweep_test.go
Due: none

Force staticcheck to ignore temporarily unused functions
  pkg/tbtc/chain_test.go
Due: none

Fix deposit script function
  pkg/tbtc/deposit.go
Due: none

Fix `sweepTxHash` logger field
  pkg/tbtc/deposit_sweep.go
Due: none
