Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 466ade9296d8445d520ec7ab246a30cfa8a07b71
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-fmt
    - id: staticcheck
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: '\.(ts|js)$'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: '\.(json|yaml)$'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: 'solidity-v1\/.*\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Fix log message bytes conversion
  pkg/coordinator/deposits.go
Due: none

Implement local chain for PastNewWalletRegisteredEvents
  pkg/tbtc/chain_test.go
Due: none

add a docker network
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

added docker network to beacon too
  scripts/install.sh
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint

added more brackets to fix the install script
  scripts/install.sh
Due: none

use a specific version of threshold_sold
  scripts/install.sh
Due: none

use http for docker network
  scripts/install.sh
  solidity/ecdsa/hardhat.config.ts
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint

Added explanatory comments.
  cmd/coordinator.go
Due: none

Added function descriptions
  cmd/coordinator.go
Due: none

Increased the number of required confirmations by one
  cmd/coordinator.go
Due: none

Added logs
  cmd/coordinator.go
Due: none

Document `shape` parameter
  pkg/tbtc/redemption.go
Due: none

Improve redemption test scenarios descriptions
  pkg/internal/tbtctest/tbtctest.go
Due: none

Use `deep.Equal` instead of `reflect.DeepEqual`
  pkg/tbtc/redemption_test.go
Due: none

Improve docs of `assembleRedemptionTransaction`
  pkg/tbtc/redemption.go
Due: none

Explicitly sort wallets
  pkg/coordinator/deposits.go
Due: none

Return slice of pointers from FindDepositsToSweep
  pkg/coordinator/deposits.go
Due: none

Define TBTC interface specific for coordinator
  pkg/coordinator/deposits.go
  pkg/coordinator/tbtc_chain.go
Due: none

Make sure %s works fine for wallet public key hash
  pkg/coordinator/wallet_test.go
Due: none

Add tests for FindDepositsToSweep
  pkg/coordinator/bitcoin_chain_test.go
  pkg/coordinator/deposits_test.go
  pkg/coordinator/tbtc_chain_test.go
  pkg/internal/coordinatortest/coordinatortest.go
  pkg/internal/coordinatortest/marshaling.go
  pkg/internal/coordinatortest/testdata/deposits_sweep_scenario_0.json
  pkg/internal/coordinatortest/testdata/deposits_sweep_scenario_1.json
  pkg/internal/coordinatortest/testdata/deposits_sweep_scenario_2.json
Due: lint-config

Remove unused local chain function
  pkg/tbtc/chain_test.go
Due: none

Make deposits hold pointers
  cmd/coordinator.go
  pkg/coordinator/sweep.go
Due: none

Remove empty line
  cmd/coordinator.go
Due: none

Remove chain interface from coordinator package
  pkg/coordinator/deposits.go
  pkg/coordinator/tbtc_chain.go
Due: none

Make properties names consistent
  pkg/coordinator/deposits.go
  pkg/coordinator/sweep.go
Due: none

Use DepositSweepRequiredFundingTxConfirmations from tbtc package
  pkg/coordinator/sweep.go
Due: none

Check if deposits is not empty
  pkg/coordinator/sweep.go
Due: none

Add tests for ProposeDepositSweep function
  pkg/coordinator/bitcoin_chain_test.go
  pkg/coordinator/deposits_test.go
  pkg/coordinator/sweep_test.go
  pkg/coordinator/tbtc_chain_test.go
  pkg/internal/coordinatortest/coordinatortest.go
  pkg/internal/coordinatortest/marshaling.go
Due: none

Fix typo in error message
  cmd/coordinator.go
Due: none

Add test scenarios
  pkg/internal/coordinatortest/testdata/find_deposits_scenario_0.json
  pkg/internal/coordinatortest/testdata/find_deposits_scenario_1.json
  pkg/internal/coordinatortest/testdata/find_deposits_scenario_2.json
  pkg/internal/coordinatortest/testdata/propose_sweep_scenario_0.json
  pkg/internal/coordinatortest/testdata/propose_sweep_scenario_1.json
  pkg/internal/coordinatortest/testdata/propose_sweep_scenario_2.json
Due: lint-config

Remove WalletPublicKeyHash type
  cmd/coordinator.go
  pkg/coordinator/deposits.go
  pkg/coordinator/deposits_test.go
  pkg/coordinator/sweep.go
  pkg/coordinator/wallet.go
  pkg/coordinator/wallet_test.go
  pkg/internal/coordinatortest/coordinatortest.go
Due: none

Remove pointer from WalletPublicKeyHash parameter
  cmd/coordinator.go
  pkg/coordinator/deposits.go
  pkg/internal/coordinatortest/coordinatortest.go
Due: none

Define hexSlice for coordinatortest
  pkg/internal/coordinatortest/marshaling.go
Due: none

Update find deposit test scenario
  pkg/internal/coordinatortest/testdata/find_deposits_scenario_0.json
Due: lint-config

Return empty array instead of error when no deposits found
  pkg/coordinator/deposits.go
  pkg/coordinator/deposits_test.go
Due: none

Get deposits from two most recent wallets
  pkg/coordinator/deposits.go
  pkg/internal/coordinatortest/testdata/find_deposits_scenario_0.json
Due: lint-config

Remove TODOs that are already handled.
  pkg/coordinator/deposits.go
Due: none

use docker network to unlock accounts
  solidity/random-beacon/tasks/unlock-eth-accounts.ts
Due: lint-eslint

Add details of actual sweep transactions
  internal/testdata/bitcoin/merkleproof.go
  internal/testdata/bitcoin/transaction.go
Due: none

Use deep.Equal to compare
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none
