Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, lint-ts, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-js:
  name: lint solidity js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Added a contract with governable random beacon parameters
  solidity/random-beacon/contracts/GovernanceUtils.sol
  solidity/random-beacon/contracts/RandomBeaconGovernable.sol
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeaconGovernable.test.ts
  solidity/random-beacon/test/helpers/contract-test-helpers.ts
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-ts

Improved comments describing governable parameters
  solidity/random-beacon/contracts/RandomBeaconGovernable.sol
Due: lint-sol

Updated solidity compiler requirement to ^0.8.6
  solidity/random-beacon/contracts/GovernanceUtils.sol
  solidity/random-beacon/contracts/RandomBeaconGovernable.sol
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/hardhat.config.ts
Due: lint-sol, lint-ts

Moved governable parameters into a library
  solidity/random-beacon/contracts/GovernanceUtils.sol
  solidity/random-beacon/contracts/RandomBeaconGovernable.sol
  solidity/random-beacon/contracts/RandomBeaconParameters.sol
  solidity/random-beacon/test/RandomBeaconParameters.test.ts
Due: lint-sol, lint-ts

Added DKG submission eligibility delay update param
  solidity/random-beacon/contracts/RandomBeaconGovernable.sol
  solidity/random-beacon/test/RandomBeaconGovernable.test.ts
Due: lint-sol, lint-ts

Added governable parameters validation
  solidity/random-beacon/contracts/RandomBeaconParameters.sol
  solidity/random-beacon/test/RandomBeaconParameters.test.ts
Due: lint-sol, lint-ts

Added hardhat-contract-sizer to random beacon
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-ts

Split governable parameters between random beacon governance and random beacon
  solidity/random-beacon/contracts/GovernanceUtils.sol
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/contracts/RandomBeaconParameters.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Bump up keep-common dependency
  go.mod
  go.sum
  pkg/chain/gen/contract/KeepRandomBeaconOperator.go
  pkg/chain/gen/contract/KeepRandomBeaconService.go
  pkg/chain/gen/contract/TokenGrant.go
  pkg/chain/gen/contract/TokenStaking.go
Due: none

Added enabled compiler optimiser for random beacon
  solidity/random-beacon/hardhat.config.ts
Due: lint-ts

Cleanup of random beacon contracts and unit tests
  solidity/random-beacon/contracts/GovernanceUtils.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-sol, lint-ts

Rename variables
  solidity/dashboard/src/actions/web3.js
  solidity/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity/dashboard/src/sagas/liquidity-rewards.js
Due: lint-js, format-dashboard

Added events to random beacon contracts
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-sol, lint-ts

Set a unique name of the `LPRewardsTBTCv2Saddle` in dapp
  solidity-v1/dashboard/src/constants/constants.js
Due: none

Fix TBTCv2/Saddle liquidity pool
  solidity-v1/dashboard/src/actions/web3.js
  solidity-v1/dashboard/src/components/LiquidityRewardCard.jsx
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/sagas/liquidity-rewards.js
Due: none

Rename variables
  solidity-v1/dashboard/src/actions/web3.js
  solidity-v1/dashboard/src/pages/liquidity/LiquidityPage.jsx
  solidity-v1/dashboard/src/sagas/liquidity-rewards.js
Due: none

Update KEEP Token Dashboard version to v1.15.1
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Due: format-dashboard

Update prd KEEP Token Dashboard deployment to fetch v1.15.1 image
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

tBTC reward allocation 2021-09-24 -> 2021-10-01
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

tBTC reward allocation 2021-09-24 -> 2021-10-01
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: none

Improved documentation of RandomBeacon public fields
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Minor, punctuation fixes in RandomBeacon contract docs
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Lowercased local constant
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-ts

Small doc improvements around beacon governance
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol

Removed old, commented out code
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol

Used hardhat-helpers in random beacon
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/helpers/contract-test-helpers.ts
  solidity/random-beacon/yarn.lock
Due: lint-ts

Extracted governance delays to constants and explained them
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
Due: lint-sol

Keep the same order of tests as the order of governable fields
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-ts

A bit more precise test case names
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-ts

Use non-default values for field value update assertions
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-ts

dkgSubmissionEligibilityDelay -> dkgResultSubmissionEligibilityDelay
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Bump up keep-common again
  go.mod
  go.sum
  pkg/chain/gen/contract/KeepRandomBeaconOperator.go
  pkg/chain/gen/contract/KeepRandomBeaconService.go
  pkg/chain/gen/contract/TokenGrant.go
  pkg/chain/gen/contract/TokenStaking.go
Due: none

Proposed initial parameter values for the beacon
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Group creation frequency made a standard parameter
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Reduced standard parameter governance delay to 12h
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Improved allowed governable parameter ranges
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Corrected minor typos
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/RandomBeaconGovernance.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-sol, lint-ts

Keep all calls consistent when setting test parameters
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-ts

Describing new contract dir structure in README
  README.adoc
Due: none

Remove tilda from the `ExchangeRate` component completely
  solidity-v1/dashboard/src/components/coverage-pools/ExchangeRate.jsx
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-js: any of: solidity\/.*\.js$
  lint-ts: any of: solidity/random-beacon\/.*\.ts$
  format-dashboard: any of: solidity/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
