Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Don't use InsecureSkipVerify for Electrum TLS connection
  pkg/bitcoin/electrum/electrum.go
Due: none

Update electrum integration tests
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Moved arguments definitions
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Update copy in Legacy Dashboard modal
  solidity-v1/dashboard/src/components/modal/LegacyDashboardModal.jsx
Due: format-dashboard

Annotate coordinator CLI flags
  cmd/coordinator.go
Due: none

Fix `EstimateSatPerVByteFee` docstring
  pkg/bitcoin/chain.go
  pkg/bitcoin/electrum/electrum.go
Due: none

Add missing `go.mod` and `go.sum` entries
  go.mod
  go.sum
Due: none

s/fee/total fee
  pkg/coordinator/sweep.go
Due: none

Make formatter happy
  cmd/coordinator.go
Due: none

Moved transaction Merkle proof test vector to test data file
  internal/testdata/bitcoin/transaction.go
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Improve docs around deposits sweep fee estimation
  cmd/coordinator.go
  pkg/coordinator/sweep.go
Due: none

Add a TODO about deprecation of `client.GetFee`
  pkg/bitcoin/electrum/electrum.go
Due: none

Minor refactor of function that gets transaction Merkle proof
  internal/testdata/bitcoin/transaction.go
  pkg/bitcoin/electrum/electrum.go
Due: none

Add sat/vbyte column
  pkg/coordinator/sweep.go
Due: none

Tests for EstimateSatPerVByteFee
  pkg/bitcoin/electrum/electrum.go
  pkg/bitcoin/electrum/electrum_integration_test.go
  pkg/bitcoin/electrum/electrum_test.go
Due: none

Replace flag --goerli with --testnet
  cmd/flags.go
  config/_peers/testnet
  config/config.go
  config/network/network.go
  config/peers.go
  config/peers_test.go
  docs/registration.adoc
  docs/resources/client-start-help
  docs/resources/docker-start-testnet-sample
  docs/run-keep-node.adoc
Due: none

Remove tbtc-v2 package from Keep DApp.
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
  solidity-v1/dashboard/src/lib/keep/__tests__/tbtc-migration.test.js
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/lib/keep/tbtc-migration/index.js
Due: lint-eslint, lint-config, lint-js-v1, format-dashboard

Remove unnecessary comment
  solidity-v1/dashboard/src/lib/keep/contracts/index.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add a TODO about Electrum re-connect problem
  pkg/bitcoin/electrum/electrum.go
Due: none

Added functionalities for preparing transaction submission proof
  pkg/bitcoin/block.go
  pkg/bitcoin/electrum/electrum.go
  pkg/maintainer/proof.go
Due: none

Changed the byte order in transaction hash
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Added link to a transaction
  internal/testdata/bitcoin/transaction.go
Due: none

Fix typo
  solidity-v1/dashboard/src/components/modal/LegacyDashboardModal.jsx
Due: format-dashboard

Update KEEP Token Dashboard version to v1.20.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: lint-config, format-dashboard

Bump docker image version to v1.20.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: lint-config

Update go-electrum dependency
  go.mod
  go.sum
Due: none

Add a CI job to run client's integration tests
  .github/workflows/client.yml
Due: none

Share Client Docker Build Image in CI jobs
  .github/workflows/client.yml
Due: none

Workaround not supported multiple outputs
  .github/workflows/client.yml
Due: none

Fix destination path for download-artifacts
  .github/workflows/client.yml
Due: none

Update actions/download-artifact to v3
  .github/workflows/client.yml
Due: none

Define longer timeouts for blockstream electrs
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Add bitcoind template and keep-test configuration
  infrastructure/kube/keep-test/bitcoin/bitcoind/kustomization.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/.env.sample
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Define storageclass for bitcoind node
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-storageclass.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Remove duplicated settings from bitcoind statefulset
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
Due: lint-config

Define common labels for bitcoind node
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Remove rpc-host config key for bitcoind
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Define service for bitcoind node
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-service.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Run bitcoind with disablewallet and txindex
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
Due: lint-config

Add required storage estimation for bitcoind node
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
Due: lint-config

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
