Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Improve docs around the `delayBlocks` argument
  pkg/tbtc/dkg.go
  pkg/tbtc/node.go
Due: none

Improve log about duplicated `DKGStarted` event
  pkg/tbtc/tbtc.go
Due: none

Add a check for empty past DKG started events
  pkg/tbtc/tbtc.go
Due: none

Clarify the block range of fetched past DKG started events
  pkg/tbtc/tbtc.go
Due: none

Make formatter happy
  pkg/tbtc/tbtc.go
Due: none

Improve docs for `generateSigningGroup`
  pkg/tbtc/dkg.go
Due: none

Add export.json for contracts deployed to mainnet
  solidity/ecdsa/export.json
  solidity/random-beacon/export.json
Due: lint-config

Add artifacts of RandomBeaconChaosnet deployed to mainnet
  solidity/random-beacon/deployments/mainnet/RandomBeaconChaosnet.json
  solidity/random-beacon/deployments/mainnet/solcInputs/80578d526a96a7b525015dc80b70bbc3.json
  solidity/random-beacon/export.json
Due: lint-config

Set addresses for goerli network in hardhat config files
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Add RandomBeaconChaosnet mainnet deployment artifact
  solidity/ecdsa/export.json
  solidity/ecdsa/external/mainnet/RandomBeaconChaosnet.json
Due: lint-config

Add gas limit margin for approve DKG result calls
  pkg/chain/ethereum/tbtc.go
Due: none

Fix comment about approve DKG result gas limit margin
  pkg/chain/ethereum/tbtc.go
Due: none

Moved loggers form global scope into maintainers
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/maintainer.go
  pkg/maintainer/wallet.go
Due: none

Update signature to string formatting
  pkg/tecdsa/signature.go
  pkg/tecdsa/signature_test.go
Due: none

E2E sweep test
  pkg/chain/local_v1/blockcounter.go
  pkg/tbtc/e2e_sweep_test.go
Due: none

Use thesis/gcp-storage-bucket-action from alpine-version-413.0.0 branch
  .github/workflows/client.yml
Due: none

Test publishing of client using code from 4c6eef5a8 ref
  .github/workflows/client.yml
Due: none

Use `buildx` in `v0.9.1`
  .github/workflows/client.yml
Due: none

Remove some temorary config and improve comments
  .github/workflows/client.yml
Due: none

Bumping up the version of keep-common
  go.mod
  go.sum
Due: none

Changing Errof->Warnf in generated files
  pkg/chain/ethereum/beacon/gen/contract/BeaconSortitionPool.go
  pkg/chain/ethereum/beacon/gen/contract/RandomBeacon.go
  pkg/chain/ethereum/ecdsa/gen/contract/EcdsaSortitionPool.go
  pkg/chain/ethereum/ecdsa/gen/contract/WalletRegistry.go
  pkg/chain/ethereum/tbtc/gen/contract/Bridge.go
  pkg/chain/ethereum/tbtc/gen/contract/LightRelay.go
  pkg/chain/ethereum/threshold/gen/contract/TokenStaking.go
Due: none

Run TBTCv2 Minter and Guardian on keep-test k8s
  infrastructure/kube/keep-test/tbtc-v2-maintainer/README.md
  infrastructure/kube/keep-test/tbtc-v2-maintainer/config/tbtc-v2-guardian-0-keyfile
  infrastructure/kube/keep-test/tbtc-v2-maintainer/config/tbtc-v2-minter-0-keyfile
  infrastructure/kube/keep-test/tbtc-v2-maintainer/guardian-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/kustomization.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/minter-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/storage-class.yaml
Due: lint-config

Switch minter and guardian to ethereum HTTP URL
  infrastructure/kube/keep-test/tbtc-v2-maintainer/guardian-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/minter-statefulset.yaml
Due: lint-config

formatting only
  src/tbtcv2-rewards/rewards.ts
Due: lint-eslint

Fixing build requirement version check
  src/tbtcv2-rewards/rewards-constants.ts
  src/tbtcv2-rewards/rewards.ts
Due: lint-eslint

New Merkle Distribution for Feb 1st
  distributions/2023-02-01/MerkleDist.json
  distributions/2023-02-01/MerkleInputBonusRewards.json
  distributions/2023-02-01/MerkleInputPreRewards.json
  distributions/2023-02-01/MerkleInputTbtcv2Rewards.json
  distributions/2023-02-01/MerkleInputTotalRewards.json
  distributions/2023-02-01/tBTCv2-rewards-details/1672531200-1675209600.json
  src/scripts/gen_rewards_dist.js
Due: lint-eslint, lint-config

Replace UNIX timestamps by Date string
  src/scripts/gen_rewards_dist.js
Due: lint-eslint

Add JSON with historical cumulative distributions
  distributions/distributions.json
Due: lint-config

Update Readme adding distributions folder info
  README.md
Due: none

Add more info about distributions in README
  README.md
Due: none

Add distributions.json update to gen_rewards_dist.js
  distributions/distributions.json
  src/scripts/gen_rewards_dist.js
Due: lint-eslint, lint-config

Add Last Amount field to distributions file
  distributions/distributions.json
  src/scripts/gen_rewards_dist.js
Due: lint-eslint, lint-config

Rename LastCumulativeAmount distributions file field
  distributions/distributions.json
  src/scripts/gen_rewards_dist.js
Due: lint-eslint, lint-config

Fix typo in README
  README.md
Due: none

Updating SECURITY.txt to the common Threshold version
  SECURITY.adoc
Due: none

Language improvements to SECURITY.md
  SECURITY.adoc
Due: none

Use adoc formatting for headers
  SECURITY.adoc
Due: none

Add 2 P2P provider bootstrap nodes
  config/_peers/mainnet
Due: none

Standardize on a 80 line length
  README.adoc
Due: none

Clarity and Correctness pass
  CONTRIBUTING.adoc
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
