Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, lint-ts, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-js
      name: 'lint solidity js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: 'solidity\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-ts
      name: 'lint solidity ts'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:ts"
      files: 'solidity/random-beacon\/.*\.ts$'
      language: script
      description: "Checks TS code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity/dashboard && npm run format"
      files: 'solidity/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

For workflow testing - adding jobs
  .github/workflows/contracts.yml
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: none

Updating yarn.lock
  solidity/random-beacon/yarn.lock
Due: none

Updating yarn.lock and removing cache
  .github/workflows/contracts.yml
  solidity/random-beacon/yarn.lock
Due: none

Cleaning yarn cache
  .github/workflows/contracts.yml
  solidity/random-beacon/yarn.lock
Due: none

Yarning only
  .github/workflows/contracts.yml
Due: none

Testing
  .github/workflows/contracts.yml
Due: none

Add `--network-concurrency 1` to `yarn install` command
  .github/workflows/contracts.yml
Due: none

Remove cleaning yarn and setting version
  .github/workflows/contracts.yml
Due: none

Installing with 1 concurrent network request
  .github/workflows/contracts.yml
Due: none

Added sorition pool to random beacon contract
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/test/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-sol, lint-ts

Emit events in the contract not the library
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Stop using errors
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Remove assertInProgress
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Handle DKG result as struct instead of separate parameters
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Workaround of GH errors for yarn installation
  .github/workflows/contracts.yml
Due: none

Register submitted DKG result
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Update notifyTimeout function not to revert with error
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Implement basic dkg result challenge
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Add simple implementation of DKG result approval
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Register group when DKG result is approved
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol

Emmit event when DKG result is submitted
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Pass challenge period length on dkg start
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Remove completeGroupCreation function
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Showing new structure of folders in a project tree
  README.adoc
Due: none

Make seed uint256
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Start genesis with seed as constant seed and block number
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Check input paramters
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Include dkgResultChallengePeriodLength in dkg timeout
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Remove TODO comment
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Add reference to Groups library
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Add active groups check for genesis
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol

Bump go-libp2p-bootstrap
  go.mod
  go.sum
Due: none

Pass ETH token to useSetMaxMount hook
  solidity-v1/dashboard/src/components/WithdrawETHModal.jsx
Due: none

tBTC reward allocation 2021-10-01 -> 2021-10-08
  solidity/dashboard/src/rewards-allocation/rewards.json
Due: format-dashboard

tBTC reward allocation 2021-10-01 -> 2021-10-08
  solidity-v1/dashboard/src/rewards-allocation/rewards.json
Due: none

Remove `MaxGasPrice` from config sample
  configs/config.toml.SAMPLE
Due: none
