Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, lint-ts, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-js
      name: 'lint solidity js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: 'solidity\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-ts
      name: 'lint solidity ts'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:ts"
      files: 'solidity/random-beacon\/.*\.ts$'
      language: script
      description: "Checks TS code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity/dashboard && npm run format"
      files: 'solidity/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Initial draft of RandomBeacon v2 with DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/helpers/contract-test-helpers.ts
Due: lint-sol, lint-ts

Add @typechain/hardhat
  .gitignore
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/tsconfig.json
  solidity/random-beacon/yarn.lock
Due: lint-ts

Remove examples
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/test/TestToken.test.ts
Due: lint-sol, lint-ts

Add SPDX-License-Identifier for DKG library
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Use submission eligibility blocks to calculate timeout
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Use helpers from @keep-network/hardhat-helpers
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/helpers/contract-test-helpers.ts
Due: lint-ts

Add BytesLib utils
  solidity/random-beacon/contracts/utils/BytesLib.sol
Due: lint-sol

Add dkg result verification function
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-sol

Use startBlock instead of groupSelectionEndBlock
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Set signatureThreshold and timeDKG in DKG start call
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Fix executing a `withdrawal` tx from KEEP-only pool
  solidity/dashboard/src/components/KeepOnlyPool.jsx
Due: format-dashboard

Update KEEP Token Dashboard version to v1.15.2
  solidity/dashboard/package-lock.json
  solidity/dashboard/package.json
Due: format-dashboard

Update prd KEEP Token Dashboard deployment to fetch v1.15.2 image
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: none

Fix executing a `withdrawal` tx from KEEP-only pool
  solidity-v1/dashboard/src/components/KeepOnlyPool.jsx
Due: none

Configure basic beacon v2 workflow for GH actions
  .github/workflows/contracts.yml
Due: none

Adding code formatter and static code analyzer
  .gitignore
  .pre-commit-config.yaml
  solidity/random-beacon/.eslintignore
  solidity/random-beacon/.eslintrc
  solidity/random-beacon/.prettierignore
  solidity/random-beacon/.solhint.json
  solidity/random-beacon/.solhintignore
  solidity/random-beacon/.tsconfig-eslint.json
  solidity/random-beacon/contracts/test/TestToken.sol
  solidity/random-beacon/deploy/00_deploy_test_token.ts
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/package.json
  solidity/random-beacon/test/TestToken.test.ts
  solidity/random-beacon/tsconfig.json
  solidity/random-beacon/yarn.lock
Due: lint-sol, lint-ts

Small correction to parameter name documentation
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Load test data from fixtures
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-ts

Update tests for dkg timeouts
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-ts

Add simple tests for DKG result verification
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-ts

Add bls test data
  solidity/random-beacon/test/helpers/data.ts
Due: lint-ts

Include timeDKG in dkg timeout calculation
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Update parameters used for DKG
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Add dkg result verification to submitDkgResult function
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Add --downlevelIteration to the ts compiler
  solidity/random-beacon/tsconfig.json
Due: none

Change gas reporter currency to USD
  solidity/random-beacon/hardhat.config.ts
Due: lint-ts

dkgSubmissionEligibilityDelay -> dkgResultSubmissionEligibilityDelay
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-sol, lint-ts

Remove value assignment for dkgResultSubmissionEligibilityDelay
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Workflow cleanup
  .github/workflows/contracts.yml
  solidity/random-beacon/slither.config.json
Due: none

Always keep 3 decimal places in ExchangeRate component
  solidity-v1/dashboard/src/components/coverage-pools/ExchangeRate.jsx
  solidity-v1/dashboard/src/utils/token.utils.js
Due: none

Move etherscan verification to a separate job
  .github/annotations.json
  .github/workflows/contracts.yml
Due: none

Use caching built-in to the setup-node action
  .github/workflows/contracts.yml
Due: none

Verify contracts on Etherscan
  .github/workflows/contracts-v1.yml
  solidity-v1/package-lock.json
  solidity-v1/package.json
  solidity-v1/scripts/etherscan-verify.sh
  solidity-v1/truffle-config.js
Due: none

Use caching built-in to the `setup-node` action
  .github/workflows/contracts-v1.yml
Due: none

Minor README change and fixing npm registry url for a job
  .github/workflows/contracts.yml
  README.adoc
Due: none

Bump the dashboard version to v1.16.0-pre
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: none

Describing new contract dir structure in README
  README.adoc
Due: none
