Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 466ade9296d8445d520ec7ab246a30cfa8a07b71
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-fmt
    - id: staticcheck
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: '\.(ts|js)$'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: '\.(json|yaml)$'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: 'solidity-v1\/.*\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Reformat code
  internal/testdata/bitcoin/block.go
Due: none

Document `GetCoinbaseTxHash` function
  pkg/bitcoin/electrum/electrum.go
Due: none

Generate Sepolia bindings
  docs/resources/client-start-help
  pkg/chain/ethereum/beacon/gen/_address/RandomBeacon
  pkg/chain/ethereum/ecdsa/gen/_address/WalletRegistry
  pkg/chain/ethereum/tbtc/gen/_address/Bridge
  pkg/chain/ethereum/tbtc/gen/_address/LightRelay
  pkg/chain/ethereum/tbtc/gen/_address/LightRelayMaintainerProxy
  pkg/chain/ethereum/tbtc/gen/_address/MaintainerProxy
  pkg/chain/ethereum/tbtc/gen/_address/WalletProposalValidator
  pkg/chain/ethereum/tbtc/gen/abi/LightRelay.go
  pkg/chain/ethereum/tbtc/gen/abi/WalletProposalValidator.go
  pkg/chain/ethereum/tbtc/gen/cmd/LightRelay.go
  pkg/chain/ethereum/tbtc/gen/cmd/WalletProposalValidator.go
  pkg/chain/ethereum/tbtc/gen/contract/LightRelay.go
  pkg/chain/ethereum/tbtc/gen/contract/WalletProposalValidator.go
  pkg/chain/ethereum/threshold/gen/_address/TokenStaking
  pkg/chain/ethereum/threshold/gen/abi/TokenStaking.go
  pkg/chain/ethereum/threshold/gen/cmd/TokenStaking.go
  pkg/chain/ethereum/threshold/gen/contract/TokenStaking.go
Due: none

Use longer header chains
  pkg/maintainer/spv/spv.go
Due: none

Special path for Sepolia SPV proof
  pkg/chain/ethereum/tbtc.go
  pkg/maintainer/spv/spv.go
Due: none

Add multi-platform runtime image
  .github/workflows/client.yml
Due: none

Fix typo
  .github/workflows/client.yml
Due: none

Add missing conditional
  .github/workflows/client.yml
Due: none

Added unit tests for finding target wallets
  pkg/tbtcpg/chain_test.go
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Added unit tests for getting wallet member info
  pkg/tbtcpg/chain_test.go
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Added commitment transaction confirmation check
  pkg/tbtcpg/moving_funds.go
Due: none

Sweep deposits with extra data
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/deposit.go
  pkg/tbtc/deposit_sweep.go
  pkg/tbtc/deposit_sweep_test.go
  pkg/tbtc/deposit_test.go
  pkg/tbtc/internal/test/marshaling.go
  pkg/tbtc/internal/test/tbtctest.go
  pkg/tbtc/internal/test/testdata/deposit_sweep_scenario_4.json
  pkg/tbtcpg/deposit_sweep_test.go
Due: lint-config

Add missing empty line
  pkg/tbtc/internal/test/testdata/deposit_sweep_scenario_4.json
Due: lint-config

Removed unnecessary functions
  pkg/tbtc/chain_test.go
Due: none

Added unit tests for submitting moving funds commitment
  pkg/tbtcpg/chain_test.go
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Updated chain interface
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtcpg/chain.go
Due: none

Added unit tests for estimating transaction fee
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Added unit tests for moving funds proposing
  pkg/tbtc/moving_funds.go
  pkg/tbtcpg/chain_test.go
  pkg/tbtcpg/deposit_sweep_test.go
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
  pkg/tbtcpg/redemptions_test.go
Due: none

Include extra data of deposits for sweep fee estimation
  pkg/tbtcpg/deposit_sweep.go
  pkg/tbtcpg/internal/test/testdata/propose_sweep_scenario_0.json
Due: lint-config

Minor refactor of unit tests
  pkg/tbtcpg/moving_funds_test.go
Due: none

Minor corrections
  pkg/tbtcpg/moving_funds.go
Due: none

Added check for commitment transaction inclusion
  pkg/tbtc/moving_funds.go
Due: none

Install @walletconnect libs + craco
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: lint-config, format-dashboard

Add craco config with needed plugins
  solidity-v1/dashboard/craco.config.js
Due: lint-eslint, lint-js-v1, format-dashboard

Create WalletConnectV2 connector
  solidity-v1/dashboard/src/connectors/index.js
  solidity-v1/dashboard/src/connectors/wallet-connect-v2.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add WalletConnectV2 to WalletOptions
  solidity-v1/dashboard/src/components/WalletOptions.jsx
Due: format-dashboard

Create subscribtions hook
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/components/Web3ContextProvider.jsx
  solidity-v1/dashboard/src/contracts.js
  solidity-v1/dashboard/src/hooks/subscribtions/index.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToCovPoolsAuctionClosedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToCovPoolsAuctionCreatedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToCovPoolsWithdrawalCompletedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToCovPoolsWithdrawalInitiatedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToDepositWithdrawEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToDepositedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToECDSARewardsClaimedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToERC20TransferEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToOperatorUndelegatedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToRecoveredStakeEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToStakedEvents.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToThresholdStakeKeepEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToTokenGrantWithdrawnEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToTopUpCompletedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToTopUpInitiatedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToUndelegatedEvents.js
  solidity-v1/dashboard/src/hooks/useSubscribeToExplorerModeContractEvent.js
  solidity-v1/dashboard/src/sagas/index.js
Due: lint-eslint, lint-js-v1, format-dashboard

Subscribe to copy stake events
  solidity-v1/dashboard/src/App.js
  solidity-v1/dashboard/src/hooks/subscribtions/index.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToCopyStakeEvents.js
  solidity-v1/dashboard/src/lib/keep/constants/oldTokenStaking.js
  solidity-v1/dashboard/src/lib/keep/index.js
  solidity-v1/dashboard/src/sagas/copy-stake.js
Due: lint-eslint, lint-js-v1, format-dashboard

Remove unnecessery comment
  solidity-v1/dashboard/src/contracts.js
Due: lint-eslint, lint-js-v1, format-dashboard

Remove unnecessary TODO
  solidity-v1/dashboard/src/contracts.js
Due: lint-eslint, lint-js-v1, format-dashboard

Export OLD_TOKEN_STAKING const from index file
  solidity-v1/dashboard/src/lib/keep/constants/index.js
Due: lint-eslint, lint-js-v1, format-dashboard

Improve wallet connect connector
  solidity-v1/dashboard/src/connectors/wallet-connect-v2.js
Due: lint-eslint, lint-js-v1, format-dashboard

Remove unused variables
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToOperatorUndelegatedEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToTopUpCompletedEvent.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add additional console logs
  solidity-v1/dashboard/src/hooks/useSubscribeToExplorerModeContractEvent.js
Due: lint-eslint, lint-js-v1, format-dashboard

Fix WalletConnect icon in top right corner
  solidity-v1/dashboard/src/components/CurrentWalletIconTooltip.jsx
  solidity-v1/dashboard/src/css/commons.less
Due: format-dashboard

Decrease modal z-inedx
  solidity-v1/dashboard/src/css/modal.less
Due: format-dashboard

Remove WalletConnect v1 from WalletOptions modal
  solidity-v1/dashboard/src/components/WalletOptions.jsx
Due: format-dashboard

Remove unnecessary console logs
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToERC20TransferEvent.js
  solidity-v1/dashboard/src/hooks/subscribtions/useSubscribeToStakedEvents.js
  solidity-v1/dashboard/src/lib/keep/index.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add wallet connect project id to `.env`
  solidity-v1/dashboard/.env
  solidity-v1/dashboard/src/connectors/wallet-connect-v2.js
Due: lint-eslint, lint-js-v1, format-dashboard

Fix small 'invalid address' bug
  solidity-v1/dashboard/src/pages/OverviewPage.jsx
Due: format-dashboard
