Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-js, lint-ts, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-js:
  name: lint solidity js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Renamed tests
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-ts

Bump up keep-common
  go.mod
  go.sum
Due: none

Added requirement that causes revert if random beacon operator already registered
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-sol, lint-ts

Add dkg seed in DkgTimeodOut event
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Update unit test after recent contracts changes
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-ts

Split random beacon tests into parameters and pool tests
  solidity/random-beacon/contracts/test/stubs/SortitionPoolStub.sol
  solidity/random-beacon/test/RandomBeacon.Parameters.test.ts
  solidity/random-beacon/test/RandomBeacon.Pool.test.ts
Due: lint-sol, lint-ts

Add tests for contract constructor
  solidity/random-beacon/test/RandomBeacon.test.ts
Due: lint-ts

Update governance test
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
Due: lint-ts

Define initial params in fixtures and use in tests
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-ts

Add Groups library to test fixture deployment
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-ts

minor
  contracts/CumulativeMerkleDrop128.sol
Due: lint-sol

Update way to load hardhat accounts for tests
  solidity/random-beacon/test/RandomBeacon.test.ts
  solidity/random-beacon/test/RandomBeaconGovernance.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-ts

Update DKG unit tests
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-ts

Update named accounts in hardhat config
  solidity/random-beacon/hardhat.config.ts
Due: lint-ts

Use production like constants in tests
  solidity/random-beacon/hardhat.config.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-ts

Added comments to contracts
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Verify input parameters for constructor
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Improve revert message
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Check result index for overflow
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Don't delete an entry on challenge
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Fix result index calculation
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Update calls order
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Define active groups counter
  solidity/random-beacon/contracts/libraries/Groups.sol
Due: lint-sol

Updated keep-common dependency to the most recent one
  go.mod
  go.sum
Due: none

Simplify group count check
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Add function to view stored group
  solidity/random-beacon/contracts/RandomBeacon.sol
Due: lint-sol

Use block number for result submission time tracking
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

abicoder
  contracts/CumulativeMerkleDrop.sol
  contracts/CumulativeMerkleDrop128.sol
  contracts/interfaces/ICumulativeMerkleDrop.sol
  contracts/interfaces/ICumulativeMerkleDrop128.sol
Due: lint-sol

Update test for dkg result submission
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-ts

Use map to store submitted DKG results
  solidity/random-beacon/contracts/RandomBeacon.sol
  solidity/random-beacon/contracts/libraries/DKG.sol
  solidity/random-beacon/test/RandomBeacon-DKG.test.ts
Due: lint-sol, lint-ts

MerkleDrop initial attempt
  contracts/MerkleDrop128.sol
  test/MerkleDrop128.test.js
Due: lint-sol

Remove redundant check from verify function
  solidity/random-beacon/contracts/libraries/DKG.sol
Due: lint-sol

Remove duplicated dependencies entry
  solidity/random-beacon/package.json
Due: none

MerkleDrop tests
  contracts/MerkleDrop128.sol
  package.json
  test/MerkleDrop128.test.js
  yarn.lock
Due: lint-sol

MerkleDrop signature tests
  contracts/MerkleDrop128.sol
  test/MerkleDrop128.test.js
Due: lint-sol

MerkleDrop add more tests
  test/MerkleDrop128.test.js
Due: none

lints
  contracts/MerkleDrop128.sol
  test/MerkleDrop128.test.js
Due: lint-sol

ready for review
  contracts/MerkleDrop128.sol
  test/MerkleDrop128.test.js
Due: lint-sol

Copy BLS library from v1
  solidity/random-beacon/contracts/libraries/AltBn128.sol
  solidity/random-beacon/contracts/libraries/BLS.sol
  solidity/random-beacon/contracts/libraries/ModUtils.sol
Due: lint-sol

Port BLS lib tests from v1
  solidity/random-beacon/contracts/test/TestAltBn128.sol
  solidity/random-beacon/contracts/test/TestModUtils.sol
  solidity/random-beacon/test/TestAltBn128.test.ts
  solidity/random-beacon/test/TestBLS.test.ts
  solidity/random-beacon/test/TestModUtils.test.ts
  solidity/random-beacon/test/helpers/fixtures.ts
Due: lint-sol, lint-ts

Path conditions:
  lint-sol: any of: \.sol$
  lint-js: any of: solidity\/.*\.js$
  lint-ts: any of: solidity/random-beacon\/.*\.ts$
  format-dashboard: any of: solidity/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
