Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 466ade9296d8445d520ec7ab246a30cfa8a07b71
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-fmt
    - id: staticcheck
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: '\.(ts|js)$'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: '\.(json|yaml)$'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: 'solidity-v1\/.*\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Cancel context for connections in test
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Read embeded electrum servers in the electrum integration tests
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Improve integration tests for electrum
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Remove config electrum integration tests
  config/electrum_integration_test.go
Due: none

Run electrum integration tests only on detected changes
  .github/workflows/client.yml
Due: none

Increase single DKG attempt timeout by 50 blocks
  pkg/tbtc/dkg_loop.go
  pkg/tbtc/dkg_loop_test.go
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol

Log electrum server URL only when it is auto-selected
  cmd/start.go
  config/config.go
  config/electrum.go
  pkg/bitcoin/electrum/electrum.go
Due: none

Lower-case the log message about auto-selecting Electrum server
  config/electrum.go
Due: none

Fix for loop
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Added version and locktime to transaction data
  internal/testdata/bitcoin/transaction.go
Due: none

Make timeout 4 seconds
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Update btc difficulty maintainer k8s config
  infrastructure/kube/keep-prd/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-prd/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

Set --testnet flags for keep-clients in keep-test
  infrastructure/kube/keep-test/keep-client/gen/template.yaml
  infrastructure/kube/keep-test/keep-client/keep-clients.yaml
Due: lint-config

Include protocol in electrum url for keep-clients on keep-test
  infrastructure/kube/keep-test/keep-client/keep-client-config.yaml
Due: lint-config

Added CLI command for submitting deposit sweep proof
  cmd/coordinator.go
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
Due: none

Update Staticcheck action to v1.3.0
  .github/workflows/client.yml
Due: none

Assemble BTC redemption transaction
  pkg/tbtc/redemption.go
Due: none

Fix docstring of `assembleDepositSweepTransaction`
  pkg/tbtc/deposit_sweep.go
Due: none

Added submission of deposit sweep proof to the TBTC chain
  cmd/coordinator.go
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
Due: none

Set 20m timeout for integration tests execution
  .github/workflows/client.yml
Due: none

Use bitcoind v24.1 docker image
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
Due: lint-config

Define snapshot class for bitcoin node
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-volumesnapshotclass.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Variable rename
  internal/testdata/bitcoin/transaction.go
  pkg/maintainer/proof_test.go
Due: none

Run second replica of bitcoind from snapshot
  infrastructure/kube/keep-test/bitcoin/testnet/bitcoind/bitcoind-data-bitcoind-1-pvc.yaml
  infrastructure/kube/keep-test/bitcoin/testnet/bitcoind/bitcoind-volumesnapshot.yaml
  infrastructure/kube/keep-test/bitcoin/testnet/bitcoind/kustomization.yaml
Due: lint-config

Moved Spv proof to a separate file
  internal/testdata/bitcoin/transaction.go
  pkg/bitcoin/block.go
  pkg/bitcoin/spv_proof.go
  pkg/maintainer/proof.go
Due: none

Template for electrumx server
  infrastructure/kube/templates/bitcoin/electrumx/electrumx-service.yaml
  infrastructure/kube/templates/bitcoin/electrumx/electrumx-statefulset.yaml
  infrastructure/kube/templates/bitcoin/electrumx/electrumx-storageclass.yaml
  infrastructure/kube/templates/bitcoin/electrumx/electrumx-volumesnapshotclass.yaml
  infrastructure/kube/templates/bitcoin/electrumx/kustomization.yaml
Due: lint-config

Add electrumx configuration for keep-test cluster
  infrastructure/kube/keep-test/bitcoin/testnet/electrumx/electrumx-data-electrumx-1-pvc.yaml
  infrastructure/kube/keep-test/bitcoin/testnet/electrumx/electrumx-volumesnapshot.yaml
  infrastructure/kube/keep-test/bitcoin/testnet/electrumx/kustomization.yaml
Due: lint-config

Add namespace for bitcoin on keep-prd
  infrastructure/kube/keep-prd/bitcoin/bitcoin-namespace.yaml
  infrastructure/kube/keep-prd/bitcoin/kustomization.yaml
Due: lint-config

Made function package-private
  pkg/maintainer/proof.go
Due: none

Variable rename
  pkg/maintainer/proof.go
Due: none

Rearranged function calls
  pkg/maintainer/proof.go
Due: none

Update dependencies to `solidity-contracts` and `random-beacon`
  solidity/ecdsa/yarn.lock
  solidity/random-beacon/yarn.lock
Due: none

Add bitcoind configuration for keep-prd
  infrastructure/kube/keep-prd/bitcoin/bitcoind/bitcoind-data-bitcoind-1-pvc.yaml
  infrastructure/kube/keep-prd/bitcoin/bitcoind/bitcoind-volumesnapshot.yaml
  infrastructure/kube/keep-prd/bitcoin/bitcoind/kustomization.yaml
Due: lint-config

Request 650Gi for mainnet bitcoind
  infrastructure/kube/keep-prd/bitcoin/bitcoind/bitcoind-data-bitcoind-1-pvc.yaml
  infrastructure/kube/templates/bitcoin/bitcoind/bitcoind-statefulset.yaml
Due: lint-config

Cleanup labels for electrumx statefulset
  infrastructure/kube/templates/bitcoin/electrumx/electrumx-statefulset.yaml
Due: lint-config

Add electrumx server configuration for keep-prd
  infrastructure/kube/keep-prd/bitcoin/electrumx/electrumx-data-electrumx-1-pvc.yaml
  infrastructure/kube/keep-prd/bitcoin/electrumx/electrumx-data-electrumx-2-pvc.yaml
  infrastructure/kube/keep-prd/bitcoin/electrumx/electrumx-volumesnapshot.yaml
  infrastructure/kube/keep-prd/bitcoin/electrumx/kustomization.yaml
Due: lint-config

Moved assembling of spv proof into the bitcoin package
  pkg/bitcoin/spv_proof.go
  pkg/bitcoin/spv_proof_chain_test.go
  pkg/bitcoin/spv_proof_test.go
  pkg/maintainer/proof.go
  pkg/maintainer/proof_test.go
Due: none

Removed unnecessary functionalities from Bitcoin difficulty chain
  pkg/maintainer/bitcoin_chain_test.go
Due: none

Add job for compacting electrumx data
  infrastructure/kube/keep-prd/bitcoin/electrumx/electrumx-compact-history-job.yaml
Due: lint-config

Removed unnecessary field
  internal/testdata/bitcoin/transaction.go
Due: none
