Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Remove unnecessary console logs
  solidity-v1/dashboard/src/hooks/useSubscribeToExplorerModeContractEvent.js
Due: lint-eslint, lint-js-v1, format-dashboard

Remove unused import
  solidity-v1/dashboard/src/components/WalletOptions.jsx
Due: format-dashboard

Add JSDocs to fix format:fix script
  solidity-v1/dashboard/src/connectors/wallet-connect-v2.js
Due: lint-eslint, lint-js-v1, format-dashboard

Add `subscribeToEventCallback` to useEffect deps
  solidity-v1/dashboard/src/hooks/useSubscribeToExplorerModeContractEvent.js
Due: lint-eslint, lint-js-v1, format-dashboard

Update the version to `1.21.0-pre`
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: lint-config, format-dashboard

Added Bitcoin moving funds transaction assembling
  pkg/tbtc/moving_funds.go
Due: none

Update KEEP Token Dashboard version to v1.21.0
  solidity-v1/dashboard/package-lock.json
  solidity-v1/dashboard/package.json
Due: lint-config, format-dashboard

Bump docker image version to v1.21.0
  infrastructure/kube/keep-prd/keep-dapp-token-dashboard-deployment.yaml
Due: lint-config

Restore dashbaord mainnet workflow
  .github/workflows/dashboard-v1-mainnet.yml
Due: none

Increase heap allocation
  solidity-v1/dashboard/Dockerfile
Due: format-dashboard

Copy craco.config.js in Dockerfile
  solidity-v1/dashboard/Dockerfile
Due: format-dashboard

Fix infura links for mainnet
  solidity-v1/dashboard/src/config/config.json
Due: lint-config, format-dashboard

Added additional logs
  pkg/tbtc/moving_funds.go
  pkg/tbtcpg/moving_funds.go
Due: none

Added check for wallet hash length during unmarshalling
  pkg/tbtc/marshaling.go
Due: none

Renamed message
  pkg/tbtc/marshaling_test.go
Due: none

Removed package rename
  pkg/tbtc/node.go
Due: none

Added function docstring
  pkg/tbtc/node.go
Due: none

Changed return value of function
  pkg/tbtcpg/moving_funds.go
Due: none

Simplified commitment look back blocks calculation
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Moved commitment hash calculation to the Tbtc chain
  pkg/chain/ethereum/tbtc.go
  pkg/chain/ethereum/tbtc_test.go
  pkg/tbtcpg/chain.go
  pkg/tbtcpg/chain_test.go
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Renamed variable
  pkg/chain/ethereum/tbtc.go
  pkg/tbtcpg/moving_funds.go
Due: none

Removed unnecessary check
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Upgrade Go version and libp2p libraries
  go.mod
  go.sum
Due: none

Adjust `go-libp2p-core` imports to `go-libp2p/crypto`
  pkg/net/libp2p/bootstrap.go
  pkg/net/libp2p/bootstrap_test.go
  pkg/net/libp2p/channel.go
  pkg/net/libp2p/channel_manager.go
  pkg/net/libp2p/channel_test.go
  pkg/net/libp2p/channels_fuzzing_test.go
  pkg/net/libp2p/identity.go
  pkg/net/libp2p/key.go
  pkg/net/libp2p/key_test.go
  pkg/net/libp2p/libp2p.go
Due: none

Adjust `transport` and `authenticatedConnection` components
  pkg/net/libp2p/authenticated_connection.go
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/transport.go
Due: none

Bump `go-libp2p` to the latest patch version
  go.mod
  go.sum
Due: none

Adjust return type of the `slices.SortFunc` compare function
  pkg/tbtc/coordination_test.go
Due: none

Fix flaky test `TestCoordinationExecutor_Coordinate`
  pkg/tbtc/coordination_test.go
Due: none

Fix `TestWalletRegistry_getWalletByPublicKeyHash_NotFound` test
  pkg/tbtc/registry_test.go
Due: none

Pass transport constructor to `libp2p.Security` function
  pkg/net/libp2p/libp2p.go
Due: none

Re-format code using the new gofmt version
  cmd/maintainercli.go
  pkg/beacon/dkg/dkg.go
  pkg/bitcoin/bitcoin.go
  pkg/net/security/handshake/connection_handshake.go
Due: none

Adjust Dockerfile to use Go 1.20
  Dockerfile
Due: none

Bump `staticcheck` version and address the new warnings
  .github/workflows/client.yml
  pkg/beacon/dkg/result/states.go
  pkg/beacon/gjkr/states.go
  pkg/internal/tecdsatest/tecdsatest.go
  pkg/protocol/state/async_machine_test.go
  pkg/tbtc/internal/test/tbtctest.go
  pkg/tbtcpg/internal/test/tbtcpgtest.go
Due: none

Improved verification of commitment transaction confirmation
  pkg/tbtcpg/moving_funds.go
  pkg/tbtcpg/moving_funds_test.go
Due: none

Added docstring for movingFundsProposalValidityBlocks
  pkg/tbtc/moving_funds.go
Due: none

Updated TODO
  pkg/tbtc/moving_funds.go
Due: none

Fix setup of libp2p security transport
  pkg/net/libp2p/authenticated_connection_test.go
  pkg/net/libp2p/libp2p.go
  pkg/net/libp2p/transport.go
Due: none

Use `LastSeen` as libp2p seen messages cache strategy
  pkg/net/libp2p/channel_manager.go
Due: none

Moved creation of proposal after commitment submission
  pkg/tbtcpg/moving_funds.go
Due: none

Improved ceiling divide function
  pkg/tbtcpg/moving_funds.go
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
