Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Rename common testnet GH secrets
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Update values of environment variables
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Add accidentally removed `ETHERSCAN_API_KEY` environment variable
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Add missing `${{ }}` markers
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Wait 2 confirmations before verifying contracts on Etherscan
  solidity/random-beacon/deploy/01_deploy_reimbursement_pool.ts
  solidity/random-beacon/deploy/02_deploy_beacon_sortition_pool.ts
  solidity/random-beacon/deploy/03_deploy_beacon_dkg_validator.ts
  solidity/random-beacon/deploy/04_deploy_random_beacon.ts
  solidity/random-beacon/deploy/07_deploy_random_beacon_governance.ts
  solidity/random-beacon/deploy/09_deploy_random_beacon_chaosnet.ts
Due: lint-eslint

Restore original name of the variable storing accounts' private keys
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Remove the `KEEP_CONTRACT_OWNER_ACCOUNT_PRIVATE_KEY` variable
  .github/workflows/contracts-ecdsa.yml
  .github/workflows/contracts-random-beacon.yml
Due: none

Use `keepnetwork/keep-client:v2.0.0-m5` for `keep-maintainer` on production
  infrastructure/kube/keep-prd/keep-maintainer/kustomization.yaml
Due: lint-config

Wallet maintainer: Resolve deposit script type at the very end
  pkg/maintainer/wallet/deposit_sweep.go
Due: none

Harden the wallet main UTXO lookup mechanism
  pkg/bitcoin/chain.go
  pkg/bitcoin/chain_test.go
  pkg/bitcoin/electrum/electrum.go
  pkg/bitcoin/electrum/electrum_integration_test.go
  pkg/maintainer/btcdiff/bitcoin_chain_test.go
  pkg/maintainer/spv/bitcoin_chain_test.go
  pkg/maintainer/wallet/bitcoin_chain_test.go
  pkg/tbtc/bitcoin_chain_test.go
  pkg/tbtc/wallet.go
  pkg/tbtc/wallet_test.go
Due: none

Harden the wallet sync check mechanism
  internal/testdata/bitcoin/transaction.go
  pkg/bitcoin/chain.go
  pkg/bitcoin/chain_test.go
  pkg/bitcoin/electrum/electrum.go
  pkg/bitcoin/electrum/electrum_integration_test.go
  pkg/maintainer/btcdiff/bitcoin_chain_test.go
  pkg/maintainer/spv/bitcoin_chain_test.go
  pkg/maintainer/wallet/bitcoin_chain_test.go
  pkg/tbtc/bitcoin_chain_test.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/deposit_sweep.go
  pkg/tbtc/redemption.go
  pkg/tbtc/wallet.go
Due: none

Bring back electrum integration build tag
  pkg/bitcoin/electrum/electrum_integration_test.go
Due: none

Use another public key hash for Electrum integration tests on mainnet
  internal/testdata/bitcoin/transaction.go
Due: none

Increased number of attempts for signing integration tests
  pkg/tbtc/signing_test.go
Due: none

Replace mentions of `GoerliLghtRelay` with `SepoliaLightRelay`
  infrastructure/kube/keep-test/keep-maintainer-staging/README.md
  infrastructure/kube/keep-test/keep-maintainer-staging/kustomization.yaml
  infrastructure/kube/keep-test/keep-maintainer/kustomization.yaml
Due: lint-config

Replace `goerli` labels with `sepolia`
  infrastructure/kube/keep-test/keep-maintainer-staging/kustomization.yaml
  infrastructure/kube/keep-test/keep-maintainer/kustomization.yaml
Due: lint-config

Update auto-generated contract docs destination
  .github/workflows/contracts-ecdsa-docs.yml
Due: none

Switch to dapp-dev-sepolia
  solidity/random-beacon/package.json
  solidity/random-beacon/yarn.lock
Due: lint-config

Switch to dapp-dev-sepolia
  solidity/ecdsa/package.json
  solidity/ecdsa/yarn.lock
Due: lint-config

Implement wallet coordination primitives
  pkg/tbtc/coordination.go
Due: none

Orchestration of the wallet coordination layer
  pkg/tbtc/node.go
  pkg/tbtc/registry.go
  pkg/tbtc/tbtc.go
Due: none

Coordination result processing loop
  pkg/tbtc/coordination.go
  pkg/tbtc/node.go
Due: none

Switch `keep-test` clients to Sepolia
  infrastructure/kube/keep-test/keep-client/gen/template.yaml
  infrastructure/kube/keep-test/keep-client/keep-clients.yaml
Due: lint-config

Switch `keep-test` maintainer to Sepolia
  infrastructure/kube/keep-test/keep-maintainer/kustomization.yaml
Due: lint-config

Switch `keep-test` minter and guardian to Sepolia
  infrastructure/kube/keep-test/tbtc-v2-maintainer/guardian-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/kustomization.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/minter-statefulset.yaml
Due: lint-config

Update `keep-test` deployment README
  infrastructure/kube/keep-test/keep-client/README.md
Due: none

Remove `keep-test` maintainer staging
  infrastructure/kube/keep-test/keep-maintainer-staging/README.md
  infrastructure/kube/keep-test/keep-maintainer-staging/kustomization.yaml
Due: lint-config

Bump `keep-common` dependency version
  go.mod
  go.sum
Due: none

Adjust Makefile to Sepolia packages
  Makefile
  config/network/network.go
Due: none

Adjust build script to Sepolia
  scripts/build.sh
Due: none

Change relevant docs and tests to point Sepolia
  config/peers_test.go
  docs/development/README.adoc
  docs/registration.adoc
  docs/run-keep-node.adoc
Due: none

Generate Sepolia bindings
  docs/resources/client-start-help
  pkg/beacon/registry/gen/pb/message.pb.go
  pkg/chain/ethereum/beacon/gen/_address/RandomBeacon
  pkg/chain/ethereum/ecdsa/gen/_address/WalletRegistry
  pkg/chain/ethereum/tbtc/gen/_address/Bridge
  pkg/chain/ethereum/tbtc/gen/_address/LightRelay
  pkg/chain/ethereum/tbtc/gen/_address/LightRelayMaintainerProxy
  pkg/chain/ethereum/tbtc/gen/_address/MaintainerProxy
  pkg/chain/ethereum/tbtc/gen/_address/WalletCoordinator
  pkg/chain/ethereum/tbtc/gen/abi/LightRelay.go
  pkg/chain/ethereum/tbtc/gen/cmd/LightRelay.go
  pkg/chain/ethereum/tbtc/gen/contract/LightRelay.go
  pkg/chain/ethereum/threshold/gen/_address/TokenStaking
  pkg/chain/ethereum/threshold/gen/abi/TokenStaking.go
  pkg/chain/ethereum/threshold/gen/cmd/TokenStaking.go
  pkg/chain/ethereum/threshold/gen/contract/TokenStaking.go
  pkg/net/gen/pb/handshake.pb.go
  pkg/net/gen/pb/message.pb.go
  pkg/tbtc/gen/pb/wallet.pb.go
  pkg/tecdsa/dkg/gen/pb/preparams.pb.go
  pkg/tecdsa/gen/pb/key.pb.go
Due: none

Special path for Sepolia SPV proof
  pkg/chain/ethereum/tbtc.go
  pkg/maintainer/spv/spv.go
Due: none

Use longer header chains
  pkg/maintainer/spv/spv.go
Due: none

Update `tbtc-v2-maintainer` image name for `keep-test`
  infrastructure/kube/keep-test/tbtc-v2-maintainer/guardian-statefulset.yaml
  infrastructure/kube/keep-test/tbtc-v2-maintainer/minter-statefulset.yaml
Due: lint-config

Unit test covering the coordination layer loop
  pkg/chain/local_v1/blockcounter.go
  pkg/chain/local_v1/local_test.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/node.go
  pkg/tbtc/node_test.go
Due: none

Unit test covering coordination executor lookup
  pkg/tbtc/node_test.go
Due: none

Unit test for wallet registry changes
  pkg/tbtc/registry_test.go
Due: none

Coordination window borderline blocks
  pkg/tbtc/coordination.go
  pkg/tbtc/coordination_test.go
Due: none

Suppress staticcheck warnings about unused functions
  pkg/tbtc/coordination.go
Due: none

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
