Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 466ade9296d8445d520ec7ab246a30cfa8a07b71
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-fmt
    - id: staticcheck
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
 - repo: local
   hooks:
    - id: lint-sol
      name: 'lint solidity sol'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: lint-eslint
      name: 'lint solidity ts/js'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
      files: '\.(ts|js)$'
      language: script
      description: "Checks TS/JS code according to the package's linter configuration"
    - id: lint-config
      name: 'lint solidity json/yaml'
      entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
      files: '\.(json|yaml)$'
      language: script
      description: "Checks JSON/YAML code according to the package's linter configuration"
    - id: lint-js-v1
      name: 'lint solidity-v1 js'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
      files: 'solidity-v1\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol-v1
      name: 'lint solidity-v1 sol'
      entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
      files: 'solidity-v1\/.*\.sol$'
      language: script
      description: "Checks solidity code according to the package's linter configuration"
    - id: format-dashboard
      name: 'format dashboard'
      entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
      files: 'solidity-v1/dashboard/'
      language: script
      description: "Checks dashboard code according to the package's formatting configuration"
    - id: lint-faucet-js
      name: 'lint faucet js'
      entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
      files: 'infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"

Grammar
  CONTRIBUTING.adoc
Due: none

Fixing timestamp tag retrieval
  src/tbtcv2-rewards/rewards.sh
Due: none

Fixing the build version requirement
  src/tbtcv2-rewards/rewards.ts
Due: lint-eslint

Base `tbtc-v2-monitoring` Kubernetes cronjob definition
  infrastructure/kube/templates/tbtc-v2-monitoring/kustomization.yaml
  infrastructure/kube/templates/tbtc-v2-monitoring/tbtc-v2-monitoring-cronjob.yaml
Due: lint-config

The `tbtc-v2-monitoring` deployment overlay for `keep-test`
  infrastructure/kube/keep-test/tbtc-v2-monitoring/.env.secret
  infrastructure/kube/keep-test/tbtc-v2-monitoring/kustomization.yaml
Due: lint-config

The `tbtc-v2-monitoring` deployment overlay for `keep-prd`
  infrastructure/kube/keep-prd/tbtc-v2-monitoring/.env.secret
  infrastructure/kube/keep-prd/tbtc-v2-monitoring/kustomization.yaml
Due: lint-config

Documentation of specific config packs
  infrastructure/kube/keep-prd/tbtc-v2-monitoring/README.md
  infrastructure/kube/keep-test/tbtc-v2-monitoring/README.md
  infrastructure/kube/templates/tbtc-v2-monitoring/README.md
Due: none

Set `ELECTRUM_URL` env
  infrastructure/kube/keep-prd/tbtc-v2-monitoring/.env.secret
  infrastructure/kube/keep-test/tbtc-v2-monitoring/.env.secret
  infrastructure/kube/templates/tbtc-v2-monitoring/tbtc-v2-monitoring-cronjob.yaml
Due: lint-config

Document contracts
  docs/contracts.adoc
  docs/index.adoc
Due: none

Prepared Kubernetes deployment for Bitcoin difficulty maintainer
  infrastructure/kube/keep-test/maintainer/bitcoin-difficulty-maintainer-service.yaml
  infrastructure/kube/keep-test/maintainer/bitcoin-difficulty-statefulset.yaml
Due: lint-config

Removed service for Bitcoin difficulty maintainer
  infrastructure/kube/keep-test/maintainer/bitcoin-difficulty-maintainer-service.yaml
  infrastructure/kube/keep-test/maintainer/bitcoin-difficulty-statefulset.yaml
Due: lint-config

Moved Kubernetes deployment
  infrastructure/kube/keep-test/btcdiff/bitcoin-difficulty-statefulset.yaml
Due: lint-config

Made Bitcoin difficulty maintainer to be run with developer option
  infrastructure/kube/keep-test/btcdiff/bitcoin-difficulty-statefulset.yaml
Due: lint-config

Added Bitcoin difficulty account info config map
  infrastructure/kube/keep-test/btcdiff/btc-difficultty-account-info-configmap.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-statefulset.yaml
Due: lint-config

Updated Bitcoin difficulty Kubernetes deployment file
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-statefulset.yaml
Due: lint-config

Added client config for Bitcoin difficulty maintainer
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-client-config.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-statefulset.yaml
Due: lint-config

Updated Kubernetes config files
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-client-config.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-statefulset.yaml
Due: lint-config

Passed base chain pointer into maintainer
  pkg/chain/ethereum/bitcoin_difficulty.go
Due: none

Removed CI job pushing to docs.keep.network
  .github/workflows/docs.yml
Due: none

Replaced ConfigMap with kustomization
  infrastructure/kube/keep-test/btcdiff/btc-difficultty-account-info-configmap.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-client-config.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-statefulset.yaml
  infrastructure/kube/keep-test/btcdiff/config/btc-difficulty-maintainer-config.toml
  infrastructure/kube/keep-test/btcdiff/keyfile/btc-difficulty-maintainer-keyfile
  infrastructure/kube/keep-test/btcdiff/kustomization.yaml
Due: lint-config

Removed unnecessary files
  infrastructure/kube/keep-test/btcdiff/btc-difficultty-account-info-configmap.yaml
  infrastructure/kube/keep-test/btcdiff/btc-difficulty-client-config.yaml
Due: lint-config

Directory and file renames
  infrastructure/kube/keep-test/btc-difficulty/config/btc-difficulty-maintainer-config.toml
  infrastructure/kube/keep-test/btc-difficulty/keyfile/btc-difficulty-maintainer-keyfile
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-test/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

File rename
  infrastructure/kube/keep-test/btc-difficulty/config/keep-client-config.toml
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-test/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

Moved keyfile to config directory
  infrastructure/kube/keep-test/btc-difficulty/config/btc-difficulty-maintainer-keyfile
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
Due: lint-config

Config map rename
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-test/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

Secret generator rename
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-test/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

Stored electrum url in config map
  infrastructure/kube/keep-test/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-test/btc-difficulty/maintainer-statefulset.yaml
Due: lint-config

Raw outline of the deposit sweep proposal handler
  pkg/tbtc/tbtc.go
Due: none

Introduce chain interface for wallet coordinator contract
  pkg/tbtc/chain.go
  pkg/tbtc/deduplicator.go
  pkg/tbtc/deposit_sweep.go
  pkg/tbtc/tbtc.go
Due: none

Generate `WalletCoordinator` binding
  pkg/chain/ethereum/common/gen/Makefile
  pkg/chain/ethereum/tbtc.go
  pkg/chain/ethereum/tbtc/gen/Makefile
  pkg/chain/ethereum/tbtc/gen/_address/WalletCoordinator
  pkg/chain/ethereum/tbtc/gen/abi/WalletCoordinator.go
  pkg/chain/ethereum/tbtc/gen/cmd/WalletCoordinator.go
  pkg/chain/ethereum/tbtc/gen/contract/WalletCoordinator.go
  pkg/chain/ethereum/tbtc/gen/gen.go
Due: none

Integrate the `WalletCoordinator` contract with the client config mechanism
  cmd/flags.go
  cmd/flags_test.go
  cmd/helpers.go
  config/config_test.go
  config/contracts.go
  configs/config.toml.SAMPLE
  pkg/chain/ethereum/tbtc.go
  test/config.json
  test/config.toml
  test/config.yaml
Due: lint-config

Add perl to Dockerfile
  Dockerfile
Due: none

Chain functions allowing to observe sweep proposals and get wallet lock
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/wallet.go
Due: none

Add some Bitcoin tooling allowing to handle the on-chain `BitcoinTx.Info` type
  pkg/bitcoin/transaction.go
  pkg/bitcoin/transaction_test.go
Due: none

Integrate with the chain function allowing to validate the sweep proposal
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
Due: none

Deposit sweep proposal event deduplication
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/deduplicator.go
  pkg/tbtc/deduplicator_test.go
  pkg/tbtc/tbtc.go
Due: none

Added kubernetes production deployment for Bitcoin difficulty maintainer
  infrastructure/kube/keep-prd/btc-difficulty/kustomization.yaml
  infrastructure/kube/keep-prd/btc-difficulty/maintainer-statefulset.yaml
  infrastructure/kube/keep-prd/config/btc-difficulty-maintainer-keyfile
  infrastructure/kube/keep-test/btc-difficulty/config/btc-difficulty-maintainer-keyfile
Due: lint-config

Confirm the received deposit sweep proposal event
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/tbtc.go
Due: none

Remove unused function
  pkg/chain/ethereum/tbtc.go
Due: none

Add `convertDepositSweepProposalToAbiType` function
  pkg/chain/ethereum/tbtc.go
Due: none
