Repository keep-network/keep-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-sol, lint-eslint, lint-config, lint-js-v1, lint-sol-v1, format-dashboard, lint-faucet-js

lint-sol:
  name: lint solidity sol
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

lint-eslint:
  name: lint solidity ts/js
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:eslint"
  language: script
  description: Checks TS/JS code according to the package's linter configuration

lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "cd solidity/random-beacon && npm run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

lint-js-v1:
  name: lint solidity-v1 js
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol-v1:
  name: lint solidity-v1 sol
  entry: /usr/bin/env bash -c "cd solidity-v1 && npm run lint:sol"
  language: script
  description: Checks solidity code according to the package's linter configuration

format-dashboard:
  name: format dashboard
  entry: /usr/bin/env bash -c "cd solidity-v1/dashboard && npm run format"
  language: script
  description: Checks dashboard code according to the package's formatting configuration

lint-faucet-js:
  name: lint faucet js
  entry: /usr/bin/env bash -c "cd infrastructure/gcp/keep-test/google-functions/keep-faucet && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

Remove unnecessary check
  pkg/chain/ethereum/tbtc.go
Due: none

Improve docs of `convertSignaturesToChainFormat`
  pkg/chain/ethereum/tbtc.go
Due: none

Simplify the `TestDkgExecutor_ExecuteDkgValidation` test
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_test.go
Due: none

Renamed variables
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty_test.go
  pkg/maintainer/maintainer.go
Due: none

Renamed logger
  pkg/maintainer/bitcoin_difficulty.go
Due: none

Unexported Bitcoin difficulty maintainer
  pkg/maintainer/bitcoin_difficulty.go
  pkg/maintainer/bitcoin_difficulty_test.go
Due: none

Made log shorter
  pkg/maintainer/bitcoin_difficulty.go
Due: none

Updated logs
  pkg/maintainer/bitcoin_difficulty.go
Due: none

Added a TODO
  pkg/maintainer/bitcoin_difficulty.go
Due: none

Simplified unit tests
  pkg/bitcoin/block_test.go
Due: none

Simplified RandomBeaconChaosnet
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
  solidity/random-beacon/contracts/test/RandomBeaconChaosnetStub.sol
Due: lint-sol

Add bash arguments to verify_merkle script
  src/scripts/verify_merkle_dist.js
Due: lint-eslint

New Merkle Distribution for Jan 1st
  distributions/2023-01-01/MerkleDist.json
  distributions/2023-01-01/MerkleInputBonusRewards.json
  distributions/2023-01-01/MerkleInputPreRewards.json
  distributions/2023-01-01/MerkleInputTbtcv2Rewards.json
  distributions/2023-01-01/MerkleInputTotalRewards.json
  distributions/2023-01-01/tBTCv2-rewards-details/1669852800-1672531200.json
  src/scripts/gen_rewards_dist.js
Due: lint-eslint, lint-config

Updated RandomBeaconChaosnet unit tests
  solidity/random-beacon/contracts/test/RandomBeaconChaosnetStub.sol
  solidity/random-beacon/test/RandomBeaconChaosnet.Callback.test.ts
  solidity/random-beacon/test/RandomBeaconChaosnet.test.ts
Due: lint-sol, lint-eslint

Updated RandomBeaconChaosnet contract descriptions
  solidity/random-beacon/contracts/RandomBeaconChaosnet.sol
  solidity/random-beacon/test/RandomBeaconChaosnet.test.ts
Due: lint-sol, lint-eslint

Update the DKG submission timeout
  solidity/ecdsa/contracts/WalletRegistry.sol
Due: lint-sol

Added authorization of wallet registry in random beacon chaosnet
  solidity/ecdsa/deploy/11_authorize_in_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/12_transfer_reimbursement_pool_ownerhsip.ts
Due: lint-eslint

Update `yarn.lock` in random beacon package
  solidity/random-beacon/yarn.lock
Due: none

Added resolving of RandomBeaconChaosnet to deployment scripts
  solidity/ecdsa/deploy/00_resolve_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
Due: lint-eslint

Update `yarn.lock` in ecdsa package
  solidity/ecdsa/yarn.lock
Due: none

Remove `tenderly` tag for `goerli` network
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Test the deploy of contracts on `goerli`
  .github/workflows/contracts-ecdsa.yml
Due: none

Passed RandomBeaconChaosnet into WalletRegistry
  solidity/ecdsa/deploy/00_resolve_random_beacon.ts
  solidity/ecdsa/deploy/00_resolve_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/11_authorize_in_random_beacon_chaosnet.ts
Due: lint-eslint

Disabled RandomBeaconChaosnet resolving under some conditions
  solidity/ecdsa/deploy/00_resolve_random_beacon.ts
  solidity/ecdsa/deploy/00_resolve_random_beacon_chaosnet.ts
Due: lint-eslint

Updated yarn.lock
  solidity/ecdsa/test/WalletRegistry.Authorization.test.ts
  solidity/ecdsa/test/WalletRegistry.Upgrade.test.ts
  solidity/ecdsa/test/WalletRegistryGovernance.test.ts
  solidity/ecdsa/yarn.lock
Due: lint-eslint

Adjust deployment scripts for testnet
  solidity/ecdsa/deploy/06_deploy_wallet_registry_governance.ts
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Set 60s of the governance delay for Goerli
  solidity/ecdsa/deploy/06_deploy_wallet_registry_governance.ts
Due: lint-eslint

Added script for upgrading random beacon
  solidity/ecdsa/deploy/10_authorize_in_random_beacon.ts
  solidity/ecdsa/deploy/12_upgrade_random_beacon.ts
  solidity/ecdsa/deploy/13_transfer_reimbursement_pool_ownerhsip.ts
Due: lint-eslint

Fix: minor typo
  README.adoc
Due: none

Confirm DKG start before triggering off-chain protocol
  pkg/chain/ethereum/tbtc.go
  pkg/tbtc/chain.go
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg.go
  pkg/tbtc/tbtc.go
Due: none

Add a delay to the DKG execution
  pkg/tbtc/dkg.go
  pkg/tbtc/node.go
  pkg/tbtc/tbtc.go
Due: none

Made RandomBeaconChaosnet be set in WalletRegistry in constructor
  solidity/ecdsa/deploy/00_resolve_random_beacon.ts
  solidity/ecdsa/deploy/00_resolve_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/03_deploy_wallet_registry.ts
  solidity/ecdsa/deploy/10_authorize_in_random_beacon.ts
  solidity/ecdsa/deploy/11_transfer_reimbursement_pool_ownerhsip.ts
  solidity/ecdsa/deploy/90_upgrade_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/91_authorize_in_random_beacon_chaosnet.ts
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Added description to script upgrading random beacon chaosnet
  solidity/ecdsa/deploy/90_upgrade_random_beacon_chaosnet.ts
Due: lint-eslint

Validate submitted DKG result
  pkg/tbtc/chain_test.go
  pkg/tbtc/dkg_submit.go
  pkg/tbtc/dkg_submit_test.go
  pkg/tbtc/dkg_test.go
Due: none

Updated deployment RandomBeaconChaosnet scripts
  solidity/random-beacon/deploy/08_transfer_governance_random_beacon.ts
  solidity/random-beacon/deploy/09_deploy_random_beacon_chaosnet.ts
  solidity/random-beacon/deploy/10_transfer_governance_random_beacon_chaosnet.ts
Due: lint-eslint

Added chaosnet tag to random beacon networks
  solidity/random-beacon/hardhat.config.ts
Due: lint-eslint

Made execution of ownership transfer conditional
  solidity/random-beacon/deploy/10_transfer_governance_random_beacon_chaosnet.ts
Due: lint-eslint

Renamed chaosnet tag to useRandomBeaconChaosnet
  solidity/ecdsa/deploy/00_resolve_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/90_upgrade_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/91_authorize_in_random_beacon_chaosnet.ts
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Moved upgrading RandomBeaconChaosnet just behind WalletRegistry deployment
  solidity/ecdsa/deploy/04_upgrade_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/05_authorize_in_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/06_transfer_ownership_random_beacon_chaosnet.ts
  solidity/ecdsa/deploy/07_approve_wallet_registry.ts
  solidity/ecdsa/deploy/08_authorize_wallet_registry.ts
  solidity/ecdsa/deploy/09_deploy_wallet_registry_governance.ts
  solidity/ecdsa/deploy/10_transfer_governance.ts
  solidity/ecdsa/deploy/11_transfer_proxy_admin_ownership.ts
  solidity/ecdsa/deploy/12_deploy_proxy_admin_with_deputy.ts
  solidity/ecdsa/deploy/13_authorize_in_random_beacon.ts
  solidity/ecdsa/deploy/14_transfer_reimbursement_pool_ownerhsip.ts
Due: lint-eslint

Added useRandomBeaconChaosnet tag to mainnet network for ecdsa scripts
  solidity/ecdsa/hardhat.config.ts
Due: lint-eslint

Path conditions:
  lint-sol: any of: \.sol$
  lint-eslint: any of: \.(ts|js)$
  lint-config: any of: \.(json|yaml)$
  lint-js-v1: any of: solidity-v1\/.*\.js$
  lint-sol-v1: any of: solidity-v1\/.*\.sol$
  format-dashboard: any of: solidity-v1/dashboard/
  lint-faucet-js: any of: infrastructure\/gcp\/keep-test\/google-functions\/keep-faucet\/.*\.js$
